[core]
    editor = "vim"
[user]
    email = yuanjingxue1987@gmail.com
    name = Yuanjing Xue
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
